#editor, #preview {
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}
#editor {
  flex: 1;
  min-width: 150px;
  border-right: 1px solid #ccc;
  transition: width 0.05s;
}
#preview {
  flex: 1;
  min-width: 150px;
  border-right: 1px solid #ccc;
}
#splitter {
  width: 6px;
  background: #ddd;
  cursor: col-resize;
}
#editor-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
#line-numbers {
  width: 40px;
  background: #f3f3f3;
  color: #666;
  text-align: right;
  padding: 10px 5px;
  font-family: monospace;
  font-size: 14px;
  border-right: 1px solid #ccc;
  user-select: none;
  display: none;
  overflow: hidden;
}
#line-numbers.active {
  display: block;
}
#md-input {
  flex: 1;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  resize: none;
  border: none;
  outline: none;
}
#editor.dragover {
  border: 2px dashed #007bff;
  background: #eef6ff;
}
.active-line-highlight {
  background: #e8f1ff;
}

